{% include 'boe_analisis/header.html' %}

            <div class="span12">


                  <h3>{{ doc.titulo }}</h3>
                  <div class="span12">
                      <div class="span2">
                          <a href="{{ doc.url_pdf }}">
                              URL PDF
                          </a>
                      </div>
                      <div class="span2">
                          <a href="{{ doc.url_htm }}">
                              URL HTML
                          </a>
                      </div>
                      <div class="span2">
                          <a href="{{ doc.url_xml }}">
                              URL XML
                          </a>
                      </div>
                      {% if doc.url_pdf_catalan %}
                        <div class="span2">
                          <a href="{{ doc.url_pdf }}">
                              URL PDF Catalán
                          </a>
                      </div>
                      {% endif %}
                  </div>
            <hr />
            <div id="materias">
                {% for materia in doc.materias.all %}
                    <span class="materia">
                        <a href="/materias/{{ materia.codigo }}">{{ materia.titulo }}</a>
                    </span>
                {% endfor %}
            </div>

            <div class="span12">
                {% if doc.texto %}

                {% autoescape off %}
                {{ doc.texto }}
                {% endautoescape %}
                {% else %}
                <embed src="{{ doc.url_pdf }}" width="600" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                {% endif %}

            </div>

            <div id="analisis">
                {% if doc.referencias_anteriores.all %}
                    <h3>Referencias Anteriores</h3>
                    {% for ref_ant in doc.referencias_anteriores.all %}
                        <p>{{ ref_ant.palabra.titulo }}
                            {% if ref_ant.referencia.titulo %}
                            <a href="{{ ref_ant.referencia.identificador }}">{{ ref_ant.referencia.identificador }}</a>
                            {% else %}
                                {{ ref_ant.referencia.identificador }}
                            {% endif %}
                        {{ ref_ant.texto }}</p>

                    {% endfor %}
                {% endif %}
                {% if doc.referencias_posteriores.all %}
                    <h3>Referencias Posteriores</h3>
                    {% for ref_post in doc.referencias_posteriores.all %}
                        <p>{{ ref_post.palabra.titulo }}
                            {% if ref_post.referencia.titulo %}
                            <a href="{{ ref_post.referencia.identificador }}">{{ ref_post.referencia.identificador }}</a>
                            {% else %}
                                {{ ref_post.referencia.identificador }}
                            {% endif %}
                        {{ ref_post.texto }}</p>

                    {% endfor %}
                {% endif %}
            </div>


            </div>
            </div>
            <hr>

{% include 'boe_analisis/footer.html' %}