Beaker==1.6.4
BeautifulSoup==3.2.1
Django==1.5.1
Mako==0.8.1
Markdown==2.3.1
MarkupSafe==0.18
Pattern==2.6
PyYAML==3.10
South==0.8.1
anyjson==0.3.3
argparse==1.2.1
beautifulsoup4==4.2.1
bottle==0.11.6
defusedxml==0.4.1
django-cache-machine==0.8
django-fancy-cache==0.4.0
django-filter==0.6
django-haystack==2.0.0
django-redis==3.3
django-redis-cache==0.10.0
django-tastypie==0.9.15
gevent==0.13.8
gevent-socketio==0.3.5-rc2
gevent-websocket==0.3.6
greenlet==0.4.1
haystack==0.15
hiredis==0.1.1
httplib2==0.8
iowait==0.1
lxml==3.2.1
mimeparse==0.1.3
mock==1.0.1
oauth2==1.5.211
psutil==1.0.1
psycopg2==2.5.1
python-dateutil==2.1
python-ptrace==0.6.5
requests==1.2.3
shortuuid==0.3
six==1.3.0
wsgiref==0.1.2
