

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.materia{
    margin: 0.1em 0.8em;
}

.psoe:hover{
    background-color: red;
}

.pp:hover{
    background-color: darkblue;
}












